:root {
    /* HEX */
    --paletteColor1: #000000;
    --paletteColor2: #ffffff;
    --paletteColor3: #dbdbdb;
    --paletteColor4: #262626;
    --paletteColor5: #fafafa;
    --paletteColor6: #efefef;
    --paletteColor7: #003569;
    --paletteColor8: #c71d8a;
    --paletteColor9: #fca05b;
    --paletteColor10: #16161a;
    --paletteColor11: #35354d;
    --paletteColor12: #ef761a;
    --paletteColor13: #EFF7FC;

    /* RGBA */
    --rgbaColor1: #00000050;

    /* RGB */
    --rgbColor1: rgb(153, 153, 153);
}
