.image {
    cursor: pointer;
    flex: 1 1 297px;
    padding: 10px;

    & img {
        width: 100%;
        display: block;
    }

    @media (--phonePortrait) {
        flex: 1 1 100px;
        padding: 5px;
    }

    @media (--phoneLandscape) {
        flex: 1 1 150px;
        padding: 5px;
    }

    @media (--tabletPortrait), (--tabletLandscape) {
        flex: 1 1 190px;
        padding: 7px;
    }
}
